# Go
backend/.gocache/
backend/.gomodcache/
backend/.gopath
backend/server
backend/server.exe
backend/uploads

# Frontend
frontend/node_modules/
frontend/.vite/

# Build outputs
backend/web/

# Env
backend/.env
frontend/.env.local

#dcoker
docker-compose-prod.yml